// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
@import '~@fortawesome/fontawesome-free/css/all.css';
// OverlayScrollbars
@import '~overlayscrollbars/css/OverlayScrollbars.css';
// iCheck
@import '~icheck-bootstrap/icheck-bootstrap.css';
// Select2
@import "~admin-lte/plugins/select2/css/select2.min.css";
@import "~admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css";
//jQueryUI
@import "~admin-lte/plugins/jquery-ui/jquery-ui.min.css";
// AdminLTE
@import '../../vendor/almasaeed2010/adminlte/dist/css/adminlte.css';
// Bootstrap
// Already imported by AdminLTE
//@import '~bootstrap/scss/bootstrap';

fieldset {
    border: 1px solid black;
    padding: 1rem !important;
    margin-top: 10px;
}
